@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
}
.containerCara {
  @apply flex grid-cols-1 justify-center items-center;
}
.containerCara3 {
  @apply flex grid-cols-3 justify-center items-center;
}
.caraWhite {
  @apply grid grid-cols-3   w-40 text-center text-black;
}
.caraYellow {
  @apply grid grid-cols-5 w-72 m-10 text-center text-black;
}
.caraRed {
  @apply grid grid-cols-3 w-40   text-center text-black;
}
.caraOrange {
  @apply grid grid-cols-3 w-40   text-center text-black;
}
.caraGreen {
  @apply grid grid-cols-3 w-40   text-center text-black;
}
.caraBlue {
  @apply grid grid-cols-3 w-40  text-center text-black;
}

.white {
  @apply bg-white border border-black h-10 flex justify-center items-center font-bold;
}
.yellow {
  @apply bg-yellow-500 border border-black h-10 flex justify-center items-center font-bold;
}
.red {
  @apply bg-red-500 border border-black h-10 flex justify-center items-center font-bold;
}
.orange {
  @apply bg-orange-500 border border-black h-10 flex justify-center items-center font-bold;
}
.green {
  @apply bg-green-500 border border-black h-10 flex justify-center items-center font-bold;
}
.blue {
  @apply bg-blue-500 border border-black h-10 flex justify-center items-center font-bold;
}
.noColor {
  @apply bg-gray-500 border border-black h-10 flex justify-center items-center font-bold;
}
.btn {
  @apply uppercase hover:bg-slate-500 text-sm 
}
.containerCaras:hover .ygo9{
  @apply border-fuchsia-400 border-4 rounded-xl
}
.containerCaras:hover .wbr9{
  @apply border-fuchsia-400 border-4 rounded-xl
}
.containerCaras:hover .wg01{
  @apply border-violet-400 border-4 rounded-xl
}
.containerCaras:hover .ygr7{
  @apply border-violet-400 border-4 rounded-xl
}
.containerCaras:hover .wob7{
  @apply border-amber-200 border-4 rounded-xl
}
.containerCaras:hover .yrb1{
  @apply border-amber-200 border-4 rounded-xl
}
.containerCaras:hover .yob3{
  @apply border-rose-400 border-4 rounded-xl
}
.containerCaras:hover .wrg3{
  @apply border-rose-400 border-4 rounded-xl
}
